@model Author
@{
    ViewData["Title"] = "Details";
}

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Inner Banner Start
    *************************************-->
    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
         data-z-index="-100"
         data-appear-top-offset="600"
         data-parallax="scroll"
         data-image-src=@Url.Content("~/assets/images/parallax/bgparallax-07.jpg")>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>Authors</h1>
                        <ol class="tg-breadcrumb">
                            <li><a asp-controller="home" asp-action="index">home</a></li>
                            <li><a asp-controller="author" asp-action="index">Authors</a></li>
                            <li class="tg-active">Authors Title</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Banner End
    *************************************-->
    <!--************************************
                Author Detail Start
        *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-authordetail">
                        <figure class="tg-authorimg">
                            <img src="~/uploads/images/@Model.ImagePath" alt="author-image" />
                        </figure>
                        <div class="tg-authorcontentdetail">
                            <div class="tg-sectionhead">
                                <h2>
                                    <span>@Model.Books.Count() Published Books</span>@Model.Name
                                </h2>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="tg-twitter">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="tg-linkedin">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                @Html.Raw(Model.Biography)
                            </div>
                            @if (Model.Books.Any())
                            {
                                <div class="tg-booksfromauthor">
                                    <div class="tg-sectionhead">
                                        <h2>Books of @Model.Name</h2>
                                    </div>
                                    <div class="row">
                                        @foreach (var item in Model.Books)
                                        {
                                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                                <div class="tg-postbook">
                                                    <figure class="tg-featureimg">
                                                        <div class="tg-bookimg">
                                                            <div class="tg-frontcover">
                                                                <img src="~/uploads/images/@item.ImagePath"
                                                             alt="@item.Name" />
                                                            </div>
                                                            <div class="tg-backcover">
                                                                <img src="~/uploads/images/@item.ImagePath"
                                                             alt="@item.Name" />
                                                            </div>
                                                        </div>
                                                        <a class="tg-btnaddtowishlist"
                                                   href="javascript:addToFavorites(@item.Id);">
                                                            <i class="icon-heart"></i>
                                                            <span>add to wishlist</span>
                                                        </a>
                                                    </figure>
                                                    <div class="tg-postbookcontent">
                                                        <ul class="tg-bookscategories">
                                                            <li>
                                                                <a href="javascript:void(0);">@item.Category.Name</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tg-themetagbox">
                                                            <span class="tg-themetag">sale</span>
                                                        </div>
                                                        <div class="tg-booktitle">
                                                            <h3>
                                                                <a asp-controller="book" asp-action="details" asp-route-id="@item.Id">@item.Name</a>
                                                            </h3>
                                                        </div>
                                                        <span class="tg-bookwriter">
                                                            By:
                                                            <a href="javascript:void(0);">@item.Author.Name</a>
                                                        </span>
                                                        <span class="tg-stars"><span></span></span>
                                                        <span class="tg-bookprice">
                                                            @*<ins>@(item.Price * Convert.ToDecimal(0.75);)₼</ins>*@
                                                            <ins>@(item.Price) ₼</ins>
                                                            <del>@item.Price ₼</del>
                                                        </span>
                                                        <a class="tg-btn tg-btnstyletwo"
                                                   onclick="addToBasket(event)" data-book-id="@item.Id">
                                                            <i class="fa fa-shopping-basket"></i>
                                                            <em>Add To Basket</em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
                Author Detail End
        *************************************-->
</main>

