@model IEnumerable<Subscribe>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Subscribes</h4>
                    <span>
                        People who subscribed to BookStore
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a asp-controller="Dashboard" asp-action="index">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <span>Subscribes</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="card">
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                IsApproved
                            </th>
                            <th>
                                RequestDate
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="ellipse">
                                    @if (item.IsApproved)
                                    {
                                        <span class="badge badge-success">Approved!</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning">Pending!</span>
                                    }
                                </td>
                                <td>
                                    @item.CreatedDate
                                </td>
                                <td class="operations">
                                    @if (User.HasAccess("admin.subscribes.delete"))
                                    {
                                        <a class="btn btn-sm btn-danger" onclick="removeEntity(@item.Id,'@item.Email')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>
@section addcss{
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
}

    @section addjs{
    <script class="removeable">
        function removeEntity(id, name) {
            swal(`Are you sure to delete '${name}'?`, {
                title: "Warning!",
                text: `Are you sure to delete '${name}'?`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["No", "Yes"],
            })
                .then((value) => {
                    if (value == true) {
                        let vToken = $('[name=__RequestVerificationToken]').val();

                        let formData = new FormData();
                        formData.set('__RequestVerificationToken', vToken);
                        formData.set('id', id);

                        $.ajax({
                            url: `@Url.Action("Delete")`,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function(response) {
                                if (response.error == true) {
                                    toastr.error(response.message, 'Something went wrong!');
                                    return;
                                }
                                location.reload();
                            },
                            error: function(errorResponse) {
                                console.error(errorResponse);
                            }
                        });
                    }
                });
        }
    </script>
}