@using BookStore.Domain.Models.ViewModels.OrderViewModel
@model OrderViewModel
@{
    ViewData["Title"] = "Checkout";
}
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
     data-z-index="-100"
     data-appear-top-offset="600"
     data-parallax="scroll"
     data-image-src=@Url.Content("~/assets/images/parallax/bgparallax-07.jpg")>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Checkout</h1>
                    <ol class="tg-breadcrumb">
                        <li><a asp-controller="home" asp-action="index">home</a></li>
                        <li class="tg-active">Checkout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead--checkout">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-25">
                            <div class="tg-sectionhead ">
                                <h2 class="tg-sectionhead__title">
                                    <i class="fas fa-regular fa-book"></i>
                                    Order information
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="your-order">
                                <div class="your-order mb-25">
                                    @foreach (var item in Model.BasketBooks)
                                    {

                                        <div class="your-order__wrp">
                                            <div class="your-order__image-container">
                                                <a target="_blank" asp-action="details" asp-controller="shop" asp-route-id="@item.BookId">
                                                    <img src="~/uploads/images/@item.Book.ImagePath" alt="img" />
                                                </a>
                                            </div>
                                            <div class="your-order__title">
                                                <h5 class="product-name">
                                                    <a class="order-link-name" target="_blank" asp-action="details" asp-controller="shop" asp-route-id="@item.BookId">@item.Book.Name</a>
                                                </h5>
                                            </div>
                                            <div class="your-order__total">
                                                <div class="price">
                                                    @item.Book.Price.ToString("0.00₼")
                                                    <span class="count">x @item.Quantity</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form id="checkout-form" class="tg-checkout" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-25">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-sectionhead tg-sectionhead--checkout">
                                        <h2 class="tg-sectionhead__title">
                                            <i class="fas fa-shipping-fast"></i>
                                            Shipping Details
                                        </h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-inputs">
                                        <input asp-for="@Model.OrderDetails.Firstname" type="text" placeholder="Firstname*">
                                        <span asp-validation-for="@Model.OrderDetails.Firstname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-inputs">
                                        <input asp-for="@Model.OrderDetails.Lastname" class="mt-20" type="text" placeholder="Lastname*">
                                        <span asp-validation-for="@Model.OrderDetails.Lastname" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-inputs">
                                        <input asp-for="@Model.OrderDetails.Address" class="mt-20" type="text" placeholder="Address*">
                                        <span asp-validation-for="@Model.OrderDetails.Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-inputs">
                                        <input asp-for="@Model.OrderDetails.PhoneNumber" class="mt-20" type="text" placeholder="Telephone number*">
                                        <span asp-validation-for="@Model.OrderDetails.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-inputs">
                                        <textarea asp-for="@Model.OrderDetails.Notes" class="mt-20" type="text" placeholder="Your notes"></textarea>
                                        <span asp-validation-for="@Model.OrderDetails.Notes" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-25">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tg-sectionhead tg-sectionhead--checkout">
                                        <h2 class="tg-sectionhead__title">
                                            <i class="far fa-credit-card"></i> Payment Information
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-inputs">
                                        <input type="text" name="card" placeholder="Your card number*">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-inputs">
                                        <input class="mt-20" type="text" name="expire" placeholder="Expire date*">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-inputs">
                                        <input class="mt-20" type="text" name="security" placeholder="CCV*">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="checkout-btns">
                                        <button class="custom-buttons custom-buttons--back">Back to cart</button>
                                        <button type="submit" class="custom-buttons custom-buttons--purchase">Purchase</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <input hidden asp-for="OrderDetails.TotalPrice" value="@Model.BasketBooks.Sum(p => (p.Book.Price * p.Quantity))" />
                    <input hidden asp-for="OrderDetails.CreatedByUserId" value="@User.GetCurrentUserId()" />
                    @for (int i = 0; i < Model.BasketBooks.Count(); i++)
                    {
                        <input hidden name="productIds" value="@Model.BasketBooks.ElementAt(i).BookId">
                        <input hidden name="quantities" value="@Model.BasketBooks.ElementAt(i).Quantity">
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section addcss{
    <style>
        input[name].novalidated,
        textarea[name].novalidated {
            border: 1px solid rgb(220,53,69)
        }
    </style>
}

    @section addjs{
    <script src="~/libs/sweetalert/sweetalert.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.js"></script>

    <script>
        $(document).ready(function() {

            $("#checkout-form").submit(function(ev) {
                ev.preventDefault();

                let fd = new FormData(ev.currentTarget); // form => formData

                $.ajax({
                    url: '@Url.Action("Checkout")',
                    type: "POST",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function(response) {

                        $("#checkout-form span.text-danger").remove();
                        $("#checkout-form input[Name]").removeClass("novalidated");
                        //console.log(response, "SUCCESS");

                        if (response.error == true) {

                            toastr.error(response.message);
                            showError(response.state);

                            return;
                        }

                        swal({
                            title: "Success!",
                            text: "Your order has been completed, you will receive message in few days",
                            icon: "success",
                            button: "Ok",
                        });

                        ev.currentTarget.reset();
                    },
                    error: function(errResponse) {
                        console.log(errResponse, "ERROR");
                    }

                })


            })
        });

        function showError(state) {

            state.forEach(item => {
                //console.log(item)

                let errorInput = $(`#checkout-form input[name='${item.fieldName}']`);
                let errorSpan = $("<span/>", {
                    class: 'text-danger validation-error',
                    html: item.message
                });

                $(errorInput.parent()).append(errorSpan);
                $(errorInput).addClass("novalidated")
            });
        }
    </script>
}

