@model Book
@{
    ViewData["Title"] = "Details";
}

<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Inner Banner Start
    *************************************-->
    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
         data-z-index="-100"
         data-appear-top-offset="600"
         data-parallax="scroll"
         data-image-src=@Url.Content("~/assets/images/parallax/bgparallax-07.jpg")>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>“Books are a uniquely portable magic.”</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Inner Banner End
    *************************************-->
    <!--************************************
                News Grid Start
        *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-productdetail">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <div class="tg-postbook cus-book">
                                            <figure class="tg-featureimg">
                                                <img src="~/uploads/images/@Model.ImagePath"
                                                     alt="@Model.Name" />
                                            </figure>
                                            <div class="tg-postbookcontent">
                                                <span class="tg-bookprice">
                                                    <ins>@(Model.Price) ₼</ins>
                                                    <del>@Model.Price ₼</del>
                                                </span>
                                                @*<span class="tg-bookwriter">You save $4.02</span>*@
                                                <ul class="tg-delevrystock">
                                                    <li>
                                                        <i class="icon-store"></i><span>Status: <em>In Stock</em></span>
                                                    </li>
                                                </ul>
                                                @*<div class="tg-quantityholder">
                                                    <em class="minus">-</em>
                                                    <input type="text"
                                                           class="result"
                                                           value="0"
                                                           id="quantity1"
                                                           name="quantity" />
                                                    <em class="plus">+</em>
                                                </div>*@
                                                <a class="tg-btn tg-active tg-btn-lg"
                                                   onclick="addToBasket(event)" data-book-id="@Model.Id">Add To Basket</a>
                                                <a class="tg-btnaddtowishlist"
                                                   href="javascript:addToFavorites(@Model.Id);">
                                                    <span>add to wishlist</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <div class="tg-productcontent">
                                            <ul class="tg-bookscategories">
                                                <li style="display: flex">
                                                    <a href="javascript:void(0);">@Model.Category.Parent.Name </a>
                                                    <span> > </span>
                                                    <a href="javascript:void(0);"> @Model.Category.Name</a>
                                                </li>
                                            </ul>
                                            <div class="tg-themetagbox">
                                                <span class="tg-themetag">sale</span>
                                            </div>
                                            <div class="tg-booktitle">
                                                <h3>@Model.Name</h3>
                                            </div>
                                            <span class="tg-bookwriter">
                                                By:
                                                <a asp-controller="author" asp-action="details" asp-route-id="@Model.AuthorId">@Model.Author.Name</a>
                                            </span>
                                            <div class="tg-stars">
                                                <rate rate-value="@Model.Rate" rate-book-id="@Model.Id"></rate>
                                            </div>
                                            <div style="margin-top: 30px" class="tg-sectionhead">
                                                <h2>Summary</h2>
                                            </div>
                                            <div class="tg-description">
                                                @Html.Raw(Model.Summary)
                                            </div>
                                            <div class="tg-sectionhead">
                                                <h2>Book Details</h2>
                                            </div>
                                            <ul class="tg-productinfo">
                                                <li><span>Pages:</span><span>@Model.Page pages</span></li>
                                                <li>
                                                    <span>Publisher:</span><span>@Model.Publisher.Name</span>
                                                </li>
                                                <li>
                                                    <span>Language:</span><span>@Model.Language.Name</span>
                                                </li>
                                                <li>
                                                    <span>Stock name:</span><span>@Model.StockKeepingUnit</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tg-aboutauthor">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="tg-sectionhead">
                                                <h2>About Author</h2>
                                            </div>
                                            <div class="tg-authorbox">
                                                <figure class="tg-authorimg" style="width: 100px">
                                                    <img src="~/uploads/images/@Model.Author.ImagePath" alt="@Model.Author.Name" />
                                                </figure>
                                                <div class="tg-authorinfo">
                                                    <div class="tg-authorhead">
                                                        <div class="tg-leftarea">
                                                            <div class="tg-authorname">
                                                                <h2 style="margin: 0!important">@Model.Author.Name</h2>
                                                            </div>
                                                        </div>
                                                        <div class="tg-rightarea">
                                                            <ul class="tg-socialicons">
                                                                <li class="tg-facebook">
                                                                    <a href="javascript:void(0);">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="tg-twitter">
                                                                    <a href="javascript:void(0);">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="tg-linkedin">
                                                                    <a href="javascript:void(0);">
                                                                        <i class="fa fa-linkedin"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="tg-googleplus">
                                                                    <a href="javascript:void(0);">
                                                                        <i class="fa fa-google-plus"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="tg-rss">
                                                                    <a href="javascript:void(0);">
                                                                        <i class="fa fa-rss"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <a class="tg-btn tg-active"
                                                       asp-controller="author" asp-action="details" asp-route-id="@Model.AuthorId">View All Books</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tg-relatedproducts">
                                        @await Component.InvokeAsync("RelatedBooks", new{categoryName = @Model.Category.Name}) 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
                News Grid End
        *************************************-->
</main>





@section addjs{
    <script>
        function addToFavorites(bookId) {
            const favorites = ($.cookie('favorites') || '').split(',').filter(item => item.length > 0);


            if (favorites.filter(item => item == bookId).length == 0) {
                favorites.push(bookId);

                $.cookie('favorites', favorites.toString(), { path: '/', expires: 7 })
            }

            console.log($.cookie('favorites'));
        }

        function addToBasket(e) {
            e.preventDefault();

            const elementData = $(e.currentTarget).data();

            $.ajax({
                url: `@Url.Action("Basket","Book")`,
                type: 'POST',
                data: elementData,
                contentType: 'application/x-www-form-urlencoded',
                success: function(response) {
                    if (response.error == false) {
                        $(e.target).closest('tr').remove();
                        toastr.success(response.message, 'Success');
                        return;
                    }


                    toastr.error(response.message, 'Error');
                },
                error: function(response, status, xhr) {
                    console.log(response, status, xhr);
                }
            });
        }

        $('.rate li').click(function(e) {
            e.preventDefault();
            e.stopPropagation();

            const data = $(e.currentTarget).data();

            console.log(data);

            $.ajax({
                url: '@Url.Action("SetBookRate")',
                type: 'POST',
                data: data,
                contentType: 'application/x-www-form-urlencoded',
                success: function(response) {
                    location.reload()
                    console.log(response);
                },
                error: function(response) {
                    console.error(response);
                }
            });
        });
    </script>
}