@model List<Book>
@{
    ViewData["Title"] = "Search";
}

@*<h2>Search Results</h2>*@

<!--************************************
            Inner Banner Start
    *************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner"
     data-z-index="-100"
     data-appear-top-offset="600"
     data-parallax="scroll"
     data-image-src=@Url.Content("~/assets/images/parallax/bgparallax-07.jpg")>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>Search Results</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="tg-searchresult">
    <div class="container">
        <div id="tg-content" class="tg-content">
            <div class="tg-products">
                <div class="tg-sectionhead">
                    <h2><span>People’s Choice</span>Bestselling Books</h2>
                </div>
                <div id="products">
                    <div class="tg-productgrid">
                        @foreach (var item in Model)
                        {
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                                <div class="tg-postbook">
                                    <figure class="tg-featureimg">
                                        <div class="tg-bookimg">
                                            <div class="tg-frontcover">
                                                <img src="~/uploads/images/@item.ImagePath"
                                                 alt="@item.Name" />
                                            </div>
                                            <div class="tg-backcover">
                                                <img src="~/uploads/images/@item.ImagePath"
                                                 alt="@item.Name" />
                                            </div>
                                        </div>
                                        <a class="tg-btnaddtowishlist"
                                       href="javascript:addToFavorites(@item.Id);">
                                            <i class="icon-heart"></i>
                                            <span>add to wishlist</span>
                                        </a>
                                    </figure>
                                    <div class="tg-postbookcontent">
                                        <ul class="tg-bookscategories">
                                            <li>
                                                <a href="javascript:void(0);">@item.Category.Name</a>
                                            </li>
                                        </ul>
                                        <div class="tg-themetagbox">
                                            <span class="tg-themetag">sale</span>
                                        </div>
                                        <div class="tg-booktitle">
                                            <h3>
                                                <a asp-action="details" asp-route-id="@item.Id">@item.Name</a>
                                            </h3>
                                        </div>
                                        <span class="tg-bookwriter">
                                            By:
                                            <a href="javascript:void(0);">@item.Author.Name</a>
                                        </span>
                                        <div class="tg-stars">
                                            <rate rate-value="@item.Rate" rate-book-id="@item.Id"></rate>
                                        </div>
                                        <span class="tg-bookprice">
                                            @*<ins>@(item.Price * Convert.ToDecimal(0.75);)₼</ins>*@
                                            <ins>@(item.Price) ₼</ins>
                                            <del>@item.Price ₼</del>
                                        </span>
                                        <a class="tg-btn tg-btnstyletwo"
                                       onclick="addToBasket(event)" data-book-id="@item.Id">
                                            <i class="fa fa-shopping-basket"></i>
                                            <em>Add To Basket</em>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section addcss{
    <style>
        .tg-searchresult{
            width: 100%;
            float: left;
            padding: 100px 0;
        }

        .search-results .tg-postbook {
            /*padding: 5rem;*/
        }

        .no-product{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .no-product h3{
            margin-top: 2rem;
        }

        .no-product__icon:before{
            font-size: 4rem;
            font-family: "FontAwesome";
            content: "";
        }
    </style>
}