@model IEnumerable<BlogPost>


<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <h2>
                        <span>Latest News &amp; Articles</span>What's Hot in The
                        News
                    </h2>
                    <a class="tg-btn" asp-controller="blog" asp-action="index">View All</a>
                </div>
            </div>
            <div id="tg-postslider"
                 class="tg-postslider tg-blogpost owl-carousel">
                @foreach (var item in Model)
                {
                    <article class="item tg-post">
                        <figure>
                            <a asp-controller="Blog" asp-action="Details" asp-route-slug="@item.Slug">
                                <img src="~/uploads/images/@item.ImagePath" alt="blog-image">
                            </a>
                        </figure>
                        <div class="tg-postcontent">
                            <ul class="tg-bookscategories">
                                <li><a href="javascript:void(0);">@item.BlogPostCategory.Name</a></li>
                            </ul>
                            <div class="tg-themetagbox">
                                <span class="tg-themetag">featured</span>
                            </div>
                            <div class="tg-posttitle">
                                <h3>
                                    <a asp-controller="blog" asp-action="details" asp-route-slug="@item.Slug">@item.Title</a>
                                </h3>
                            </div>
                            <span class="tg-bookwriter">
                                By:
                                <a href="javascript:void(0);">@item.CreatedByUser?.Name @item.CreatedByUser?.Surname</a>
                            </span>
                            <ul class="tg-postmetadata">
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-comment-o"></i><i>@item.Comments.Count() Comments</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa fa-eye"></i><i>@item.Reacts.Count() Likes</i></a>
                                </li>
                            </ul>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</section>